@inject ILogger<CardFilter> logger;
@inject ICardService _cardService;

@if (Sets == null || Rarities == null || Types == null)
{
	<p class="w-100 text-center"><em>Loading...</em></p>
}
else
{
	<form class="filter-form">
		<label for="name">Name</label>
		<input type="text" id="name" name="name" placeholder="Card Name" @bind="@Name" />
		<label for="text">Text</label>
		<input type="text" id="text" placeholder="Text" @bind="@Text" />
		<label for="set">Set</label>
		<select id="set" @bind="@Set">
			<option value="">All Sets</option>
			@foreach (SetDTO set in Sets)
			{
				<option value="@set.Name">@set.Name</option>
			})
		</select>
		<label for="rarity">Rarity</label>
		<select id="rarity" @bind="@Rarity">
			<option value="">All Rarities</option>
			@foreach (RarityDTO rarity in Rarities)
			{
				<option value="@rarity.Name">@rarity.Name</option>
			})
		</select>
		<label for="type">Card Type</label>
		<select id="type" @bind="@Type">
			<option value="">All Types</option>
			@foreach (TypeDTO type in Types)
			{
				<option value="@type.Name">@type.Name</option>
			})
		</select>
		<button id="sortbyname" class="btn-secondary" type="button" @onclick="@Sort" @onclick:preventDefault>Name</button>
		<input type="submit" placeholder="Submit" class="btn-primary" @onclick="@OnFilter" @onclick:preventDefault />
	</form>
}