@inject NavigationManager navigationManager;

<article class="border p-3 m-3 d-flex flex-column justify-content-between" style="flex-basis: 25%" >
	<div>
		<div>
			<h3>@Data.Name</h3>
			<p class="fw-bold">@Data.ArtistName</p>
		</div>
		@if (Data.ImageUrl == null)
		{
			<img src="images/placeholder.png" style="height: 310px; width: 223px;" @onclick="(() => AddCardToDeck(Data))" @onclick:preventDefault />
		} else
		{
			<img src="@Data.ImageUrl" @onclick="(() => AddCardToDeck(Data))" @onclick:preventDefault alt="@Data.Description"/>
		}
		
		<div>
			<div class="d-flex justify-content-between">
				<p>@Data.Set</p>
				<p>@Data.Rarity</p>
			</div>
		</div>
	</div>
	<button @onclick="(() => ShowDetailedCard(Data.Id))" @onclick:preventDefault class="align-self-end">View Details!</button>
</article>