<form class="filter-form">
	<label for="name">Name</label>
	<input type="text" id="name" name="name" placeholder="Deck name" />
	<label for="text">Text</label>
	<input type="text" id="text" placeholder="Text" />
	<label for="set">Set</label>
	<select id="set">
		@foreach (SetDTO set in sets)
		{
			<option value="@set.Id">@set.Name</option>
		})
	</select>
	<label for="rarity">Rarity</label>
	<select id="rarity">
		@foreach (RarityDTO rarity in rarities)
		{
			<option value="@rarity.Id">@rarity.Name</option>
		})
	</select>
	<label for="type">Card Type</label>
	<select id="type">
		@foreach (TypeDTO type in types)
		{
			<option value="@type.Id">@type.Name</option>
		})
	</select>
	<button id="sortbyname" class="btn-secondary">Name</button>
	<input type="submit" placeholder="Submit" class="btn-primary" />
</form>

@code {
	[Parameter]
	public IEnumerable<SetDTO>? sets { get; set; }
	[Parameter]
	public IEnumerable<RarityDTO>? rarities { get; set; }
	[Parameter]
	public IEnumerable<TypeDTO>? types { get; set; }
}