<article class="border p-3 m-3 d-flex flex-column" style="flex-basis: 25%">
	<h3>@card.Name</h3>
	<p>@card.ArtistName</p>
	<p>@card.Description</p>
	<div class="d-flex justify-content-between align-self-end">
		<p>@card.Set</p>
		<p>@card.Rarity</p>
	</div>
</article>

@code {
	[Parameter]
	public CardDTO card { get; set; }
}