@page "/cards/{id:long}"

@inject ICardService _cardRepository

<h3>Detail of card '@_cardTitle'</h3>

@if (_card == null)
{
	<p class="w-100 text-center"><em>Loading...</em></p>
}
else
{
	<article class="border p-3 m-3 d-flex flex-column" style="flex-basis: 25%">
		<h3>@_card.Name</h3>
		<p class="fw-bold">@_card.ArtistName</p>
		<p class="fst-italic">@_card.Description</p>
		<p>Number: @_card.Number</p>
		<p>Specific Type: @_card.Type</p>
		<p>Power: @_card.Power</p>
		<p>Toughness: @_card.Toughness</p>
		<p>Flavor: @_card.Flavor</p>
		<p>Colors:</p>
		<ul>
			@foreach (string color in _card.Colors)
			{
				<li>@color</li>
			}
		</ul>
		<p>Types:</p>
		<ul>
			@foreach (string type in _card.Types)
			{
				<li>@type</li>
			}
		</ul>
		<p>Set: @_card.Set</p>
		<p>Rarity: @_card.Rarity</p>
		<NavLink class="nav-link" href="/deckbuilder">
			<span class="oi oi-list" aria-hidden="true"></span> Go back to the deckbuilder!
		</NavLink>
	</article>
}