@page "/deckbuilder"

@inject ICardService _cardRepository
@inject IDeckService _deckRepository
@inject IMapper _mapper

<PageTitle>DeckBuilder</PageTitle>

<header>
	<h1>DeckBuilder</h1>
</header>

<main>
	<div class="d-flex flex-row">
		<div style="flex-basis:75%">
			<CardFilter Sets="@_sets" Rarities="@_rarities" Types="@_types" OnFilterChanged="UpdateCardsAsync" OnSortChanged="SortCardsAsync"></CardFilter>
			<CardList cards="@_cards" OnCardClicked="AddCardToDeckAsync"></CardList>
		</div>
		<div style="flex-basis:25%; border-left: 1px solid black; margin-left: 1rem; padding-left:0.5rem;">
			<div class="d-flex justify-content-between">
				<h4>Deck</h4>
				<button class="btn btn-primary" @onclick="(() => ClearDeckAsync())" @onclick:preventDefault>Clear</button>
			</div>
			<DeckList Deck="@_deck" OnNameClicked="RemoveCardAsync" OnNumberClicked="AddAnotherCardToDeckAsync"></DeckList>
		</div>
	</div>
</main>
